.DS_Store
.idea/
.vs/
out/
build/
x64-Debug/
x64-Release/
img/
venv/
__pycache__/

*.a
*.app
*.dll
*.dylib
*.egg
*.egg-info
*.exe
*.gif
*.gch
*.lai
*.la
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.png
*.py[cod]
*.pch
*.slo
*.so
*.swp

.coverage
.tox/
MANIFEST
dist/
eggs/
parts/
sdist/
var/
